// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
	"farve": $cyan-400,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...

.navigation {
	background-color: grey;
	display: flex;
	justify-content: center;
	height: 66px;
	align-items: center;
}

.navi-logo {
	display: flex;
	justify-content: center;
}

.navi-menuer {
	display: none;
}

.herobillede {
	display: flex;
	justify-content: center;
	margin: 0px 30px 0px 30px
}

.cta {
	background-color: grey;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 30px;
	border-radius: 8px;
	padding: 18px;
}

.spise {
	background-color: grey;
	padding: 12px 0px 48px 0px;
}

.korts {
	margin: 24px 30px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 20px;
}

.kort {
	background-color: pink;
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	padding-top: 12px;
}

.korttitel {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.minpenge {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}


h1 {
	font-size: 46px;
}

h2 {
	font-size: 35px;
}

h3 {
	font-size: 29px;
}

h6 {
	font-size: 15px;
}

.overskrifter {
	margin: 48px 30px 48px 30px;

}

.overskrifter1 {
	margin: 16px 30px 16px 30px;

}

.travlhverdag {
	margin: 48px 30px 48px 30px;
	padding: 32px 24px 24px 24px;
	display: flex;
	flex-direction: column;
	background-color: grey;
	border-radius: 12px;
}

.p-test {}

.travltekst {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.travlimg img {
	width: 100%;
	padding-top: 58px;
}

.videre {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 24px;
}

.videre1 {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 24px 16px 24px 16px;
}

.play {
	background-color: darkgrey;
	border-radius: 8px;
	padding: 4px 6px 7px 10px;
	margin-right: 10px;
}

.budget {
	display: flex;
	flex-direction: column;
}

.bokse {
	margin: 0px 30px 64px 30px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;


}

.boks1,
.boks2 {
	background-color: grey;
	display: flex;
	flex-direction: column;
	border-radius: 12px;
	margin-top: 50px;
	padding-top: 24px;
}

.boks1 {
	padding-bottom: 24px;
}

.bokstekst1 {
	margin: 0px 16px 0px 16px;
}

.bokstekst2 {
	margin: 48px 16px 0px 16px;
}

.boksbillede {
	display: flex;
	z-index: 1;
	position: absolute;
	padding-top: 220px;
	flex-direction: row;
}

.boksbillede1 {
	display: flex;
	z-index: 1;
	position: absolute;
	flex-direction: row;
	padding: 72px 0px 0px 200px;
}

.opacity {
	opacity: 0.5;
}

.takemethere {
	margin: 24px 30px 24px 30px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.cta1 {
	background-color: white;
	padding: 10px 25px 10px 25px;
	border-radius: 8px;
	margin-right: 10px;
}


.arrow-right {
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;

	border-left: 20px solid grey;
}