// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
	"farve": $cyan-400,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...

.navigation{
	background-color: grey;
	display: flex;
	justify-content: center;
	height: 66px;
}

.navi-logo{
	display: flex;
	justify-content: center;
}

.navi-menuer{
	display: none;
}
.hero{
	background-color: pink;
}
.heroindhold{
	display: grid;
	padding: 0px 30px 0px 30px;
	
}
.herocirkel{
	background-color: hotpink;
	height: 450px;
	width: 100%;
	clip-path: circle(50% at 165px 275px);
}


h1{
	font-size: 46px;
}
h2{
	font-size: 35px;
}
h3{
	font-size: 29px;
}
h6{
	font-size: 15px;
}
.cta{
	display: grid;
	grid-template-columns: 2fr 2fr;
	margin-top: 40px;
	margin-bottom: 64px;
}
.cta2{
	display: grid;
	grid-template-columns: 2fr 2fr;
	margin-top: 24px;
	margin-bottom: 64px;
}
.knap{
	background-color: green;
	text-align: center;
	border-radius: 8px;
	padding: 10px 0 10px 0;
	align-items: center;
	font-size: 15px;
	color: white;
}
.herobillede{
	display: grid;
	grid-template-columns: 1fr 3fr;
}
.herobillede img{
	width: 100%;
}
.herotekst{
	margin-top: 125px;
	
}
.overskrifter{
	margin: 48px 30px 24px 30px;
	
}
.contentcirkler{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin: 0px 30px 48px 30px;
	gap: 20px;
}
.contentbillede{
	border-radius: 50%;
	z-index: -1;
	background-color: grey;
	width: 68px;
	height: 68px;
}
.contentbillede img{
	width: 100%;
}
.contentcirkel{
	display: flex;
	text-align: center;
}
.contentoverskrift{
	display: flex;
	z-index: 0;
	position: absolute;
	padding: 60px 0px 0px 2px;
	text-align: center;
}

.events{
	background-color: grey;
	padding: 48px 30px 0px 30px;

}